body {
	overflow-y: scroll;
  }
  

  body::-webkit-scrollbar {
	width: 8px;
	background-color: #222222;
  opacity: 0.5;
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #BF8383;
	border-radius: 5px;
  opacity: 0.1;
  }
  

  body {
	scroll-behavior: smooth;
  }

#root {
  margin: 0 auto;
  padding: 0;
}

